.header{
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    height: 150px;
    border-bottom: solid 2px;
    z-index: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(231, 231, 231);
}
.mainbody{
    position: absolute;
    z-index: 1;
    top: 214px;
    bottom: 3000px;
    left: 114px;
    right: 114px;
    background-color: rgb(231, 231, 231);
}
.footer{
    position: fixed;
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 30px;
    z-index: 3;
}
.caption{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
    padding: 15px;
}
.footertext{
    font-size: 12px;
    color: black;
    text-align: center;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(231, 231, 231);
}