body{
    background-color: rgb(231, 231, 231);
}

h2{
    color: navy ;
    text-align: center;
}
h3{
    color: blue;
    text-align: center;
}
.italic{
    font-style: italic;
}
a:visited{
    color: pink;
}
.aboutmeparagraph{
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    color: black;

}
h1{
    font-weight: bold;
}
.center{
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


